<ion-header >
  <ion-toolbar color="warning">
    <ion-title>places</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToHome()">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header> Items</ion-list-header>
    <ion-item *ngFor="let place of this.places" [routerLink]="['/places', place.id]">
      <ion-avatar slot="start">
        <ion-img [src]="place.imgURL"> </ion-img>
      </ion-avatar>
      <ion-label>
        {{place.title}}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="warning" (click)=addNewPlace()>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
